{{#each recipe_details}}
  
  <p>
    {{#if servings}}
      Servings: {{this.servings}} | 
    {{/if}}
    
    {{#if serving_size}}
      Serving Size: {{this.serving_size}} | 
    {{/if}}
    
    {{#if preptime}}
      Prep Time: {{this.preptime}} | 
    {{/if}}
    
    {{#if cooktime}}
      Cook Time: {{this.cooktime}}
    {{/if}}
  </p>

{{/each}}