<div class="create-recipe text-center">
  <form>

    <div class="form-group">
      <label for="recipeName">Recipe For:</label>
      <input type="text" class="form-control" id="recipeName" placeholder="Roasted Veggies">
    </div>

    <div class="form-group">
      <label for="recipeCuisine">Cuisine Type:</label>
      <input type="text" class="form-control" id="recipeCuisine" placeholder="Mediterranean">
    </div>

    <div class="form-group">
      <label for="recipeTags">Suits Dietary Needs:</label>
      <input type="text" class="form-control" id="recipeTags" placeholder="Vegan">
    </div>


    <div class="form-group">
      <label for="restaurantItem">Menu Dish:</label>
      <input type="text" class="form-control" id="restaurantItem" placeholder="Lamb Kabob">
      <label for="restaurantName">Inspired By:</label>
      <input type="text" class="form-control" id="restaurantName" placeholder="Aladdin's">
    </div>

    <div class="form-group">
      <label for="servings">Servings:</label>
      <select class="form-control" id="servings">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">10</option>
        <option value="12">10</option>
      </select>
    </div>

    <div class="form-group">
      <label for="prepTime">Prep Time Needed:</label>
      <input type="text" class="form-control" id="prepTime" placeholder="10">
      <select class="form-control" id="prepTimeAmount">
        <option>minutes</option>
        <option>hours</option>
      </select>
    </div>

    <div class="form-group">
      <label for="cookTime">Cook Time Needed:</label>
      <input type="text" class="form-control" id="cookTime" placeholder="50">
      <select class="form-control" id="cookTimeAmount">
        <option>minutes</option>
        <option>hours</option>
      </select>
    </div>

    <div class="fullindiv">
      <div class="indiv">
        <div class="div1">
          <p class="ingtag">Ingredient 1:</p>
          <input type="input" name="ing1" class="ing1 ing">
          <div class="amdiv">
            <p class="am amtag">Amount:</p>
            <select class="am am1">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
            <select class="am amounttype1">
              <option value="cup">Cup</option>
              <option value="tbs">TBS</option>
              <option value="tsp">TSP</option>
              <option value="oz">oz</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <input type="button" value="Add another ingredient" class="btn-in btn-addingr" data-count=1><br><br>
    <input type="button" value="Submit recipe" class="btn-in btn-addrecipe"><br><br>
    <p class="errorp"></p>
  </form>
</div>