<div class="create-recipe">
  <form>
    
    <div class="form-group">
      <label for="recipeName">Recipe For:</label>
      <input type="text" class="form-control" id="recipeName" placeholder="Roasted Veggies">
    </div>

    <div class="form-group">
      <label for="recipeCuisine">Cuisine Type:</label>
      <input type="text" class="form-control" id="recipeCuisine" placeholder="Mediterranean">
    </div>

    <div class="form-group">
      <label for="recipeTags">Suits Dietary Needs:</label>
      <input type="text" class="form-control" id="recipeTags" placeholder="Vegan">
    </div>

    <div class="form-group">
      <label for="restaurantName">Dish Inspired By:</label>
      <input type="text" class="form-control" id="restaurantName" placeholder="Aladdin's">
    </div>

    <div class="form-group">
      <label for="servings">Servings:</label>
      <select class="form-control" id="servings">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">10</option>
        <option value="12">10</option>
      </select>
    </div>

    <div class="form-group">
      <label for="prepTime">Prep Time Needed:</label>
      <input type="text" class="form-control" id="prepTime" placeholder="10">
      <select class="form-control" id="prepTimeAmount">
        <option>minutes</option>
        <option>hours</option>
      </select>
    </div>

    <div class="form-group">
      <label for="cookTime">Cook Time Needed:</label>
      <input type="text" class="form-control" id="cookTime" placeholder="50">
      <select class="form-control" id="cookTimeAmount">
        <option>minutes</option>
        <option>hours</option>
      </select>
    </div>

    <div class="form-group">
      <label for="ingredientName">Ingredient Name:</label>
      <input type="input" class="form-control" id="ing1" placeholder="Tumeric">
    </div>

    <div class="form-group">
      <label for="ingredientAmount">Ingredient Amount:</label>
        <select class="am1">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
        </select>
      {{!-- <p>Partial Amount</p> --}}
        <select class="am1">
          <option value=".0">.0</option>
          <option value=".25">.25 or 1/4</option>
          <option value=".33">.33 or 1/3</option>
          <option value=".5">.5 or 1/2</option>
          <option value=".67">.67 or 1/3</option>
          <option value=".75">.75 or 3/4</option>
        </select>
        {{!-- <p>Measurement</p> --}}
        <select class="amounttype1">
          <option value="cup">cups</option>
          <option value="tbsp">tbsp</option>
          <option value="tsp">tsp</option>
          <option value="oz">oz</option>
        </select>
    </div>

    <input type="button" value="Add another ingredient" class="btn-addingr" data-count=1><br><br>

    <div class="form-group">
        <label for="instructions">Step-by-Step Instructions:</label>
        <input type="text" class="form-control" placeholder="Step 1:">
    </div>

    <input type="button" value="Add another step" class="btn-addinst" data-count=1><br><br>

    <input type="button" value="Submit Recipe" class="btn-addrecipe"><br><br>

    </form>
</div>