<h1>Add a Food Review to Your Log</h1>

<form>
  
  <div class="form-group">
    <label for="restaurantName">Restaurant Name:</label>
    <input type="text" class="form-control" id="restaurantName" placeholder="Barrio">
  </div>

  <div class="form-group">
    <label for="mealTime">Visited for:</label>
    <select class="form-control" id="mealTime">
      <option>Breakfast</option>
      <option>Brunch</option>
      <option>Lunch</option>
      <option>Happy Hour</option>
      <option>Dinner</option>
      <option>Late Night</option>
    </select>
  </div>

  <div class="input-group date" id="datetimepicker1">
    <label for="mealDate">Date Visited:</label>
    <input type='text' class="form-control" id="mealDate">
    <span class="input-group-addon">
      <span class="glyphicon glyphicon-calendar"></span>
    </span>
  </div>

  <div class="form-group">
    <label for="menuItems">Food Ordered:</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>

  <div class="form-group">
    <label for="menuItems">Food Ordered:</label>
    <select class="form-control" id="menuItems">
      <!-- Dynamically generate these options from the dailymenu API or change to a 
      text input box if we can't get that to work -->
      <option></option>
    </select>
  </div>

  <div class="form-group">
    <label for="foodNotes">Food Notes:</label>
    <input type="text" class="form-control" id="foodNotes" placeholder="Add comments for next visit.">
  </div>

  <button type="submit">Submit</button>

</form>


<script type="text/javascript">
    
    // function for calendar widget
    $(function () {
        $('#datetimepicker1').datetimepicker();
    });

</script>