<h1>Add a Recipe</h1>

<form>
  
  <div class="form-group">
    <label for="recipeName">Recipe For:</label>
    <input type="text" class="form-control" id="recipeName" placeholder="Roasted Veggies">
  </div>

  <div class="form-group">
    <label for="recipeCuisine">Cuisine Type:</label>
    <input type="text" class="form-control" id="recipeCuisine" placeholder="Mediterranean">
  </div>

  <div class="form-group">
    <label for="recipeTags">Suits Dietary Needs:</label>
    <input type="text" class="form-control" id="recipeTags" placeholder="Vegan">
  </div>

  <div class="form-group">
    <label for="restaurantName">Dish Inspired By:</label>
    <input type="text" class="form-control" id="restaurantName" placeholder="Aladdin's">
  </div>

  <div class="form-group">
    <label for="servings">Servings:</label>
    <select class="form-control" id="servings">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
      <option>7</option>
      <option>8</option>
      <option>9</option>
      <option>10</option>
      <option>11</option>
      <option>12</option>
      <option>13</option>
      <option>14</option>
      <option>15</option>
      <option>16</option>
    </select>
  </div>

  <div class="form-group">
    <label for="prepTime">Prep Time Needed:</label>
    <input type="text" class="form-control" id="prepTime" placeholder="10">
    <select class="form-control" id="prepTimeAmount">
      <option>minute(s)</option>
      <option>hour(s)</option>
      <option>day(s)</option>
    </select>
  </div>

  <div class="form-group">
    <label for="cookTime">Cook Time Needed:</label>
    <input type="text" class="form-control" id="cookTime" placeholder="50">
    <select class="form-control" id="cookTimeAmount">
      <option>minute(s)</option>
      <option>hour(s)</option>
      <option>day(s)</option>
    </select>
  </div>

  <div class="form-group">
    <label for="ingredientName">Ingredient Name:</label>
    <input type="text" class="form-control" id="ingredientName" placeholder="Tumeric">
  </div>

  <div class="form-group">
    <label for="ingredientAmount">Ingredient Amount:</label>
    <input type="text" class="form-control" id="ingredientAmount" placeholder="0.5">
    <select class="form-control" id="ingredientAmountList">
      <option>teaspoon(s)</option>
      <option>tablespoon(s)</option>
      <option>cup(s)</option>
      <option>pint(s)</option>
      <option>quart(s)</option>
      <option>gallon(s)</option>
      <option>ounce(s)</option>
      <option>pound(s)</option>
  </div>
  
  <div class="form-group">
    <label for="instructions">Step-by-Step Instructions:</label>
    <input type="text" class="form-control" id="instructions" placeholder="instructions">
  </div>

  <button type="submit">Submit</button>

</form>