<div id="homeDiv">
  <div class="card-body text-dark" id="restaurants">
    <p class="rname"></p>
    <p class="location"></p>
    <p class="cuisine"></p>
      {{!-- <div id="restaurant-list">
      </div> --}}
    <h3 class="card-title text-center">RESTAURANTS</h3>
    <div class="row">
      <div class="col-12 px-2">
        <div class="card-text border border-dark">
          <ul>
            {{#each restaurants}}
            {{> restaurant-block }}
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

  <div>
    <div class="jumbotron pt-1 pb-3 profileView" id="profileDiv">
      <div class="container container-fluid full-profile" id="profile-view">
        <h2 class="display-4">My Profile</h2>
        <h4 class="align-bottom" id="nickname">Welcome </h4>
        <img class="img-thumbnail" id="avatar" alt="userPhoto" src="https://via.placeholder.com/150x150">
        <hr class="my-4">
        <a class="btn btn-primary btn-lg mx-2" href="#" role="button">Add Restaurant Experience</a>
        <a class="btn btn-danger btn-lg mx-2" href="#" role="button" id="btn-create-recipe">Add Recipe</a>
      </div>
    </div>
  </div>

  <div class="bg-light create-recipe">{{> user-recipe-add}}</div>

  <div id="profileTabs">
    <div class="nav nav-tabs" id="nav-recipe-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-recipes-tab" data-toggle="tab" href="#nav-recipes" role="tab"
        aria-controls="nav-recipes" aria-selected="true">My Recipes</a>
      <a class="nav-item nav-link" id="nav-saved-recipes-tab" data-toggle="tab" href="#nav-saved-recipes" role="tab"
        aria-controls="nav-saved-recipes" aria-selected="false">Saved Recipes</a>
      <a class="nav-item nav-link" id="nav-restaurants-tab" data-toggle="tab" href="#nav-restaurants" role="tab"
        aria-controls="nav-restaurants" aria-selected="false">My Restaurant Reviews</a>
      <a class="nav-item nav-link" id="nav-saved-restaurants-tab" data-toggle="tab" href="#nav-saved-restaurants" role="tab"
        aria-controls="nav-saved-restaurants" aria-selected="false">Saved Restaurants</a>
    </div>


    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-recipes" role="tabpanel" aria-labelledby="nav-recipes-tab">
        {{#each recipes }}
        {{> recipe-block }}
        {{/each}}
      </div>
      <div class="tab-pane fade" id="nav-saved-recipes" role="tabpanel" aria-labelledby="nav-saved-recipes-tab">INSERT
        SAVED RECIPIES</div>
      <div class="tab-pane fade" id="nav-restaurants" role="tabpanel" aria-labelledby="nav-restaurants-tab">INSERT USER
        RESTAURANT EXPERIENCES</div>
      <div class="tab-pane fade" id="nav-saved-restaurants" role="tabpanel" aria-labelledby="nav-saved-restaurants-tab">INSERT
        SAVED RESTAURANTS</div>
    </div>
  </div>
</div>
</body>

</html>