.form-group {
    width: 55%;
}

.card {
    margin: 30px;
    border: 1px solid gray;
}

.avatar {
    max-width: 200px;
}

/* .tab-content.hide{
    display: none;
}

.tab-content.active{
    display: block;
} */

