
.form-group {
    width: 55%;
}

.card {
    margin: 30px;
    border: 1px solid gray;
}

.avatar {
    max-width: 200px;
}

.ingtag {
    clear: both;
    float: left;
    margin-right: 5px;
}

.ing {
    border-radius: 10px;
    float: left;
}
.amdiv {
    clear: both;
}
.amtag {
    float: left;
    margin-right: 32px;
}
.am {
    float: left;
    border-radius: 10px;
}
.btn-in {
    clear: both;
    float: left;
    margin-bottom: 10px;
    border-radius: 10px;
}
.fullindiv {
    border: 2px solid springgreen;
    width: 400px;
    padding: 20px;
}

.btn-addrecipe {
    background-color: springgreen;
}

